:root {
    --bf-font: Roboto, sans-serif;
    --bf-primary: #1976D2;
    --bf-text: rgba(0, 0, 0, 0.87);
    --bf-line: rgba(0, 0, 0, 0.12);
    --bf-fill: rgba(0, 0, 0, 0.04);
    --bf-radius: 4px;
    --bf-card-width: 300px;
    --bf-image-height: 200px;
  }
  
  html {
    margin-left: 30px;
    font-family: Roboto, sans-serif;
    font-family: var(--bf-font);
    height: 100%;
    scroll-behavior: smooth;
  }
  
  body {
    height: 100%;
    margin: 0;
    color: rgba(0, 0, 0, 0.87);
    color: var(--bf-text);
    font-size: 16px;
    line-height: 1.6;
    border-spacing: 10px;
  }
  
  img {
    border-style: none;
    border: 0;
    max-width: 100%;
    border-radius: 4px;
    border-radius: var(--bf-radius);
    vertical-align: middle;
    margin: 2px 0;
  }
  
  em {
    font-style: italic
  }
  
  strong {
    font-weight: 500
  }
  
  h1 {
    font-size: calc(2.0rem + 2.5vw);
    margin: 2rem 0.75rem 1.25rem 0.75rem;
  }
  
  h2 {
    font-size: calc(1.4rem + 1.4vw);
    margin: 1.5rem 0.75rem 1rem 0.75rem;
  }
  
  h3 {
    font-size: calc(1.2rem + 1vw);
    margin: 1.25rem 0.75rem 0.75rem 0.75rem;
  }
  
  h4 {
    font-size: calc(1.1rem + 0.6vw);
    margin: 1rem 0.75rem 0.5rem 0.75rem;
  }
  
  h5 {
    font-size: calc(1rem + 0.2vw);
    margin: 0.75rem 0.75rem 0.25rem 0.75rem;
  }
  
  h6 {
    font-size: calc(1rem);
    margin: 0.25rem 0 0 0 0;
  }
  
  p {
    margin: 0.75rem;
  }
  
  p,
  a {
    font-size: 1rem;
    font-weight: 400;
  }
  
  a {
    text-decoration: none;
    color: #1976D2;
    color: var(--bf-primary);
  }
  
  a:active,
  a:hover {
    outline-width: 0;
    outline: 0;
  }
  
  a:active,
  a:focus,
  a:hover {
    text-decoration: underline;
  }
  
  ul,
  ol {
    padding: 0 2em;
  }
  
  ul {
    list-style-type: disc;
  }
  
  strong {
    font-weight: inherit;
    font-weight: 600;
  }
  
  code,
  pre {
    font-family: monospace;
    font-size: 90%;
    background-color: rgba(0, 0, 0, 0.04);
    background-color: var(--bf-fill);
  }
  
  code {
    padding: 0.2em 0;
    margin: 0;
  }
  
  pre {
    margin: 0.75rem;
    padding: 0.75rem;
    overflow: auto;
  }
  
  pre code {
    background: transparent;
  }
  
  pre code::before,
  pre code::after {
    content: normal;
  }
  
  code::before,
  code::after {
    content: '\00a0';
  }
  
  a>em,
  a>strong {
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0.09em;
    line-height: 2.25rem;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    display: inline-block;
    padding: 0 8px;
    margin: 4px;
    min-width: 64px;
    height: 36px;
    border-radius: 4px;
    border-radius: var(--bf-radius);
    transition: all .3s;
  }
  
  a>em {
    background-color: transparent;
    color: #1976D2;
    color: var(--bf-primary);
  }
  
  a>strong {
    background-color: #1976D2;
    background-color: var(--bf-primary);
    color: #fff;
  }
  
  a>em:hover {
    box-shadow: inset 0 0 0 99em rgba(0, 0, 0, .06);
  }
  
  a>strong:hover {
    box-shadow: inset 0 0 0 99em rgba(255, 255, 255, .24);
  }
  
  blockquote {
    margin: 0.75rem;
    border: 0;
    border-radius: 4px;
    border-radius: var(--bf-radius);
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 1px 3px 0 rgba(0, 0, 0, .12);
    display: inline-block;
    vertical-align: top;
  }
  
  blockquote>p:not(:only-child),
  blockquote>h5,
  blockquote>h6 {
    width: 300px;
    width: var(--bf-card-width);
  }
  
  blockquote>p:only-child>a {
    display: block;
  }
  
  blockquote>p:only-child>a>em {
    text-align: left;
  }
  
  blockquote img {
    max-height: 200px;
    max-height: var(--bf-image-height);
    cursor: pointer;
  }
  
  blockquote img:active {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 95%;
    max-height: 95%;
    border: 100vh solid #fff;
  }
  
  hr {
    height: 1px;
    background-color: rgba(0, 0, 0, 0.12);
    background-color: var(--bf-line);
    border: none;
    margin: 0;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .12);
  }
  
  table {
    margin: 0.75rem;
    border-spacing: 0;
    border-radius: 4px;
    border-radius: var(--bf-radius);
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 1px 3px 0 rgba(0, 0, 0, .12);
    display: inline-block;
  }
  
  table th {
    font-weight: bold;
  }
  
  table td {
    border-top-width: 1px;
    border-top-style: solid;
    border-color: rgba(0, 0, 0, 0.12);
    border-color: var(--bf-line);
  }
  
  table th,
  table td {
    text-align: left;
    padding: 0.9rem 1.25rem;
  }
  
  table>tbody>tr:hover {
    background-color: rgba(0, 0, 0, 0.04);
    background-color: var(--bf-fill);
  }